@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todo os direitos reservados a Erike e Thiago©.</p>

<style>
    /* Fundo da página com azul-marinho escuro e textura de bolinhas */
    body {
        background-color: #001f3f;
        background-image: radial-gradient(circle, rgba(255,255,255,0.15) 1px, transparent 1px);
        background-size: 40px 40px;
        color: #ffffff;
    }
</style>